.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url("../../../public/assets/images/instructives/level2_1.png");
  user-select: none;
}

.login-container {
  max-width: 25vw;
}

.logo-image {
  width: 8vw;
  margin: 8px;
  user-select: none;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
