/* [CornerTopRight.css] */

.container-top-right {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 20px;
  padding: 10px;
  user-select: none;
}

.life-label {
  font-size: 2rem;
}

.diamond-count {
  font-size: 1.5rem;
}
