/* [CornerTopRight.css] */

.container-top-right {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 20px;
  padding: 10px;
  user-select: none;
}

.life-label {
  font-size: 2rem;
  text-shadow: 1px 1px 10px #00000046;
}

.diamond-count {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #00000075;
  font-weight: bold;
  color: white;
}
