.container-button-gh {
    position: fixed;
    width: 220px;
    height: 100px;
    bottom: 30px;
    left: 25%;
}

.button-play-again {
    cursor: pointer;
    background-color: #4CAF50;
    border: 2px solid black; /* Agrega un borde sólido de 2 píxeles */
    border-radius: 5px; /* Bordes redondeados */  
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    transition: all .3s ease;
    text-decoration: none;
    right: 50px
}

.button-play-again:hover {
    letter-spacing: 2px;
}

.button-play-again:hover~.second {
    opacity: .66;
    right: -20px;
    transition-delay: 50ms;
}

.button-play-again:hover~.third {
    opacity: .33;
    right: -40px;
    transition-delay: 100ms;
}