/* [SaveIndicator.css] */

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.container-bottom-left {
  position: absolute;
  text-align: center;
  justify-content: center;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
}

.save-image {
  width: 3rem;
  height: 3rem;
  animation: blink 1s infinite;
}

.save-text {
  font-family: sans-serif;
  font-size: 2rem;
  color: white;
  padding: 0.1rem;
  border-radius: 5px;
  animation: blink 1s infinite;
}
