.statistics-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../public/assets/images/instructives/level2_4.png');
}

.statistics-title{
    width: 100%;
    text-align: center;
}
.statistics-title h1{
    font-size: 4.5em;
    color: #3d2304;
}

.statistics-title h2{
    font-size: 1.5em;
    color: #e5e6c9;
}

.statistics-container {
    margin-top: 40px;
    cursor: pointer;
}